* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-image: url(https://img.freepik.com/free-photo/flat-lay-beautiful-autumn-leaves-with-copy-space_23-2148769090.jpg?size=626&ext=jpg&ga=GA1.1.1266433093.1723779885&semt=ais_hybrid);
    background-size: contain;
    text-align: center;
}

p {
    color:white;
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;
    margin: 5px;
    color: rgba(252, 252, 253, 0.97);
    margin-right: 25px;
}

.head ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.b {
    font-size:3rem;
}

.a:hover {
    text-decoration: underline;
    color: rgb(255, 131, 8);
}
.head {
    padding-top: 30px ;
    padding-bottom: 20px;
    height: 130px;
    width: 100%;
    background-color: rgba(60, 57, 57, 0.604);
    color: white;
}

.body-screen {
    height: 100%;
    width: 100%;
    display: inline;
}

.head2 {
    color: white;
    margin: 40px;
    text-shadow: 10px 9px 3px rgb(10, 10, 10);

}

.photo1 {
    background-image: url(/portfolio/WhatsApp\ Image\ 2024-08-29\ at\ 08.15.01_e1fce040.jpg);
    background-size: cover;
    height: 350px;
    width: 350px;
    border: 10px solid black;
    border-radius: 50%;
    display: inline-block;
}
.photo {
    width: 100%;
    display: inline-block;
    margin: 70px  0;
   
}

.logo {
    font-size: 35px;
    padding:  10px;
    background-color: rgba(131, 86, 47, 0.358);
}

.logo a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    border-radius: 50%;
}
.logo a i{
    color: black;
    opacity: 0,9;
    
}
.logo a:hover{
    background-color: #111;
    transition: 0.5s;
    
}
.logo a:hover i{
    color: white;
    transition: 0.5s;
}

.foot {
    padding: 10px;
    background-color: rgb(60, 57, 57);
    color: white;
}


@media screen and (max-width:550px) {
    .photo {
        margin: 30px 0;
        width: 100%;
    }
    
    .photo1 {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .head ul {
       justify-content: center;
       margin-top: 10px;
    }

    p {
        padding: 0 10px;
    }
}